*.pyc
crm/migrations
/.idea/
__pycache__
db.sqlite3
media
.idea


backend/__pycache__/views.cpython-36.pyc

.idea/workspace.xml
*.pyc
erp/migrations/0001_initial.py
catalog/migrations/0002_product_test.py
catalog/migrations/0001_initial.py
catalog/migrations/0003_remove_product_test.py
catalog/migrations/0004_auto_20180403_0003.py
erp_simple/migrations/0001_initial.py
finance/migrations/0001_initial.py
