{% extends "base.html" %}
{% block title %}
查看订单-{{ order }}
{% endblock %}

{% block container %}

<h1>
    查看订单 <mark> {{ order }} </mark> - {{ order.created_date|date:"Y/m/d" }}
</h1>

    <div class="row">
        <table class="table">
            <tr>
                <td> <a href={% url 'erp_add_jihuadan' id=order.id %}> 添加生产计划单 </a></td>
                <td> <a href={% url 'add_order_expense' id=order.id %}> 添加订单费用 </a> </td>
            </tr>
        </table>
    </div>



    <div class="row">
        <table class="table table-striped">
            <tr>
                <th> 客户订单号</th>
                <th> 内部跟踪号 </th>
                <th> 销售员</th>
                <th> 创立日期</th>
                <th> 状态 </th>
                {% if request.user == order.user or request.user.canViewOrder %}
                    <th> 客户 </th>
                    <th> 联系人 </th>
                    <th> 金额 </th>
                    <th> 折合RMB </th>
                {% endif %}
            </tr>
            <tr>
                <th> {{ order.externalID }}</th>
                <th> {{ order.internalID }}</th>
                <th> {{ order.user }}</th>
                <th> {{ order.created_date|date:'Y/m/d' }}</th>
                <th> {{ order.get_status_display }} </th>
                {% if request.user == order.user or request.user.canViewOrder %}
                    <th> {{ order.client }} </th>
                    <th> {{ order.contactor }}</th>
                    <th> {{ order.amount }}{{ order.currency }} </th>
                    <th> {{ order.trueAmount }} </th>
                {% endif %}
            </tr>
        </table>
        <a href={% url 'edit_order' id=order.id %}> 修改订单</a>
    </div>


    <h2> 生产计划单 </h2>

        <table class="table">
            {% for jhd in order.jhd_set.all %}
            <tr>
                <td> <a href={% url 'erp_view_jihuadan' id=jhd.id %}> {{ jhd.id }}  </a></td>
                <td> {{ jhd.created_date }}</td>
                <td> {{ jhd.status }}</td>
                <td> {{ jhd.lastUpdate }}</td>
            </tr>
            {% endfor %}
        </table>


    <h2> 费用登记 - {{ order.totalExpense }} </h2>
    <table class="table">
        {% for exp in order.orderexpense_set.all %}
            <tr>
                <td> {{ exp.created_date }}</td>
                <td> {{ exp.get_type_display }}</td>
                <td> {{ exp.amount }}</td>
                <td> {% if exp.note %}{{ exp.note }} {% endif %}</td>
            </tr>
        {% endfor %}
    </table>



    <div class="row">
        <h2> 历史记录 </h2>
        <table class="table">
            {% for log in order.orderlog_set.all %}
                <tr>
                    <td> {{ log.created_date }}</td>
                    <td> {{ log.user  }}</td>
                    <td> {{ log.log }}</td>
                    <td>  {%  if log.file %} <a href={{ log.file.url }}> FILE </a> {% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{##}
{#    <h2> 收款记录</h2>#}
{##}
{#    <h2> 发货记录 </h2>#}
{##}
{#    <h2> 开票记录 </h2>#}

{% endblock %}