{% extends "base.html" %}
{% block title %}
 产品 - {{ item.name }}
{% endblock %}

{% block container %}

<h1>
    {{ subitem.subsku }}
 - <a href={% url 'view_subitem' id=subitem.id %}> 查看模式 </a>
</h1>
     <a href="{% url 'edit_subitem' id=subitem.id %}"> 修改 </a>

    <div class="row">
        <table class="table table-striped table-bordered">
            <tr>
                <th> SKU </th>
                <th> 材料</th>
                <th> 规格</th>
                <th> 颜色</th>
                <th>重量(g)</th>
                <th> MOQ</th>
                <th>单价(RMB)</th>
                <th>外箱尺寸</th>
                <th>装箱数量</th>
                <th>整箱毛重(KG)</th>
                <th> 更新时间 </th>
            </tr>


            <tr>
                <td>  {{ subitem.subsku }}</td>
                <td> {{ subitem.material }}</td>
                <td> {{  subitem.specs }}</td>
                <td> {{  subitem.color }}</td>
                <td> {{  subitem.weight }}</td>
                <td> {{  subitem.MOQ }}</td>
                <td> {{  subitem.unitprice }}</td>
                <td> {{  subitem.cartonsize }}</td>
                <td> {{  subitem.qtypercarton }}</td>
                <td> {{  subitem.cartongw }}</td>
                <td> {{ subitem.updated_date }}</td>
            </tr>
        </table>
    </div>



    <div class="row">
        <h2> 素材 </h2>
        <div class="row">

                <a href="{% url 'add_subitem_photo' id=subitem.id %}"> 添加图片</a>

                {% for photo in subitem.subitemphoto_set.all %}
                    <img  height=200  src="{{ photo.image.url }}"/>
                    <a href="{% url 'delete_subitemphoto' id=photo.id %}"> 删除 </a>
                {% endfor %}
        </div>
    </div>


    <div class="row">
        <h2> 供应商信息</h2>
        <div class="row">

                <a href="{% url 'add_subitemsupplier' id=subitem.id %}"> 添加新供应商</a>

                <table class="table table-boarded">
                    <tr>
                        <th> 供应商名称</th>
                        <th> 城市</th>
                        <th> MOQ</th>
                        <th> 单价(RMB)</th>
                        <th> 附注 </th>
                        <th> 操作</th>
                    </tr>
                    {% for sis in subitem.subitemsupplier_set.all %}
                        <tr>
                            <td> {{ sis.name }}</td>
                            <td> {{ sis.city }}</td>
                            <td> {{  sis.moq }}</td>
                            <td> {{  sis.unitprice }}</td>
                            <td> {{  sis.other }}</td>
                            <td>
                                <a href={% url  "edit_subitemsupplier" id=sis.id %} > 修改 </a>
                                <a href={% url  "delete_subitemsupplier" id=sis.id %} > 删除 </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
        </div>
    </div>

    </div>

{% endblock %}