{% extends "base.html" %}
{% block title %}
    产品目录首页
{% endblock %}

{% block container %}

<h1>
    产品目录首页 - {{ products|length }}
</h1>

    <div class="row">


    <table class="table table-bordered">
        <tr>
            <td> <a href="{% url 'add_product' %}"> 添加新产品 </a> </td>
            <td> <a href="{% url 'catelog_home' %}"> 显示所有 </a> </td>
        </tr>
    </table>

    </div>

    <div class="row">
        <form action="{% url 'catelog_home' %}" method="post">
            {% csrf_token %}

            {{ form }}
            <input type="submit" value="搜索"/>

        </form>
    </div>



    <div class="row">



    <table class="table">
        <tr>
            <th> 产品名称 </th>
            <th> 产品分类</th>
            <th> 成本价格</th>
            <th> 销售价格 </th>
            <th> 起订量 </th>
            <th> 材料 </th>
            <th> 重量 </th>
            <th> 尺寸 </th>
        </tr>
        {% for p in products %}
            <tr>
                <td> <a href="{% url 'view_product' id=p.id %}"> {{ p.id }} -{{ p.name }} </a></td>
                <td> {{ p.catelog }}</td>
                 <td> {{ p.costprice }}RMB</td>
                <td> {{  p.suggestprice }} RMB </td>
                <td> {{ p.suggestmoq }}</td>
                <td> {{ p.material }}</td>
                <td> {{  p.weight }}g</td>
                <td> {{ p.size }}</td>

            </tr>
        {% endfor %}
    </table>

    </div>
{% endblock %}