{% extends "base.html" %}
{% block title %}
{{ product }}
{% endblock %}

{% block container %}

<h1>
    {{ p.id }} - {{ p }}
</h1>

    <div class="row">
        <h2> 产品信息 - <a href="{% url 'edit_product' id=p.id %}"> 修改 </a></h2>
        <table class="table">
        <tr>
            <th> 产品名称 </th>
            <th> 产品分类</th>
            <th> 成本价格</th>
            <th> 销售价格 </th>
            <th> 最少起订量 </th>
            <th> 材料 </th>
            <th> 重量 </th>
            <th> 尺寸 </th>

        </tr>
            <tr>
                <td> {{ p.name }}  </td>
                <td> {{ p.catelog }}</td>
                 <td> {{ p.costprice }}RMB</td>
                <td> {{  p.suggestprice }} RMB </td>
                <td> {{  p.suggestmoq }}</td>
                <td> {{ p.material }}</td>
                <td> {{  p.weight }}g</td>
                <td> {{ p.size }}</td>
            </tr>
            <tr>
                <td span="4">
                    {% if p.image %} <img class='mid-image' src="{{ p.image.url }}"/>  {% endif %}

                </td>
                <td span="3"> {{ p.note|linebreaks }}</td>
            </tr>
        </table>
    </div>



    <div class="row">
        <h2> 历史记录 </h2>
        <form actoin="{% url 'add_product_log' id=p.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table">
                {{ form.as_table }}
            </table>
            <input type="submit" value="添加记录"/>
        </form>


        <table class="table">
            <tr> <th> 日期</th> <th> 用户 </th> <th> Log</th>
            </tr>
            {% for log in p.productlog_set.all %}
                <tr>
                    <td> {{ log.created_date }}</td>
                    <td> {{ log.user }}</td>
                    <td> {{ log }} </td>
                    <td> {% if log.image %} <img src="{{ log.image.url }}" class="small-image"/> {% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}