{% extends "base.html" %}
{% block title %}
<!-- 标题-->
{% endblock %}

{% block container %}

<h1>
    LIST ALL USERS
</h1>
    <ul>
        <li> crm.add_order:  业务员 </li>
        <li> auth.change_user: 管理员 </li>
        <li> crm.delete_order: 销售主管 </li>
        <li> </li>
    </ul>
    <table class="table">
        {% for user in users %}
            <tr>
                <td> {{ user.username }}</td>
                <td> {{ user.get_all_permissions }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}