{% extends "base.html" %}
{% block title %}
CRM HOME
{% endblock %}

{% block container %}

<h1>
    CRM - HOME
</h1>

    <div class="row">
        <h2> 今日要处理的事情 -- {{ outdate_logs|length }} </h2>

        <table class="table">
            {% for log in outdate_logs %}
                <tr>
                    <td> {{ log.client }}</td>
                    <td> <a href="{% url 'view_client_log' id=log.client.id %}">
                        {{ log.note }}
                    </a></td>
                    <td>  {% if log.file  %} {{ log.file.name }} {% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}