{% extends "base.html" %}
{% block title %}

    我的客户列表

{% endblock %}

{% block container %}

<h1>
    我的客户列表 - 共 {{ clients|length }}个
</h1>

    <div class="row">
        <table class="table table-bordered">
            <tr>
                <td>  <a href={% url 'add_client'  %}> 添加新客户 </a></td>
            </tr>
        </table>

    </div>

    <div class="row">


        <form action="{% url 'list_all_clients' %}"  method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="搜索" />
        </form>

    </div>



    <div class="row">
        <table class="table table-bordered table-striped">
            <tr>
                <th> CID </th>
                <th> 销售代表</th>
                <th> 客户 </th>
                <th> 地区 </th>
                <th> 重要性</th>
                <th> 记录操作 </th>
                <th> 急需操作 </th>
            </tr>

            {% for client in clients %}
                <tr>
                    <td><a href={% url 'view_client' id=client.id %}> {{  client.cid  }}</a> </td>
                    <td> {{ client.user }}</td>
                    <td> {% if client.needUpdate %}
                        <strong>{{ client.company }} <strong/>
                        {% else %}
                        {{ client.company }}
                        {% endif %}
                    </td>
                    <td> {{  client.district }}</td>
                    <td> {{ client.level_display }}</td>
                    <td>
                        <a href="{% url 'view_client_log' id=client.id %}">
                        {{ client.clientlog_set.first }}
                        </a>
                    </td>
                    <td> {{ client.needUpdate }}</td>
                </tr>

            {% endfor %}

        </table>
    </div>


{% endblock %}