{% extends "base.html" %}
{% block title %}
 客户 - {{ client }}
{% endblock %}

{% block container %}

<h1>
    客户 - {{ client.company }}
</h1>
    {% if client.needUpdate %}
        <h2> <mark> 需要跟踪 </mark></h2>
    {% endif %}

    <table class="table">
        <tr>
            <td> <a href={% url 'edit_client' id=client.id %}> 修改客户信息 </a> </td>
            <td> <a href={% url 'add_contactor' id=client.id %}> 添加联系人 </a> </td>
            <td> <a href={% url 'add_client_file' id=client.id %}> 添加客户文件 </a> </td>
            <td>  <a href={% url 'view_client_log' id=client.id %}> 查看记录 </a> </td>
            <td> <a href={% url 'add_order' id=client.id %}> 添加新销售订单 </a> </td>
        </tr>
    </table>


    <div class="row">
        <form action="{% url 'change_client_rep' id=client.id %}" method="post">
            {% csrf_token %}
            {{ changeuserform }}
            <input type="submit" value="更改"/>
        </form>
    </div>

    <div class="row">
        <table class="table table-bordered">
            <tr>
                <th> CID </th>
                <th> 销售代表 </th>
                <th> 客户 </th>
                <th> 地区 </th>
                <th> 渠道 </th>
                <th> 等级 </th>
            </tr>

            <tr>
                <td> {{  client.cid  }} </td>
                <td> {{ client.user  }}</td>
                <td> {{ client.company }}</td>
                <td> {{  client.district }}</td>
                <td> {{ client.get_source_display }}</td>
                <td> {{ client.get_level_display }}</td>
            </tr>
        </table>
    </div>

    <div class="row">
        <h2> 联系人 </h2>
        <table class="table table-bordered">
            {% for contactor in client.contactor_set.all %}
                <tr>
                    <td> <a href="{% url 'edit_contactor' id=contactor.id %}"> {{ contactor.name }} </a></td>
                    <td> {{ contactor.email }}</td>
                    <td> {{  contactor.tel }}</td>
                    <td> {{  contactor.address }}</td>
                    <td>
                        {% if contactor.namecard_front %}
                            <img class='small-image' src="{{ contactor.namecard_front.url }}">
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>


    {% if client.clientfile_set.all|length > 0 %}
        <div class="row">
        <h2> 客户文件</h2>
        <table class="table">
            {% for cf in client.clientfile_set.all %}
                <tr>
                    <td> {{ cf.user }}</td>
                    <td> {{ cf.created_date }}</td>
                    <td> {{ cf.description }}</td>
                    <td> <a href="{{ cf.file.url }}"> {{ cf.file.name }}</a> </td>
                    <td> <a href="{% url 'del_client_file' id=cf.id %}"> 删除文件 </a></td>
                </tr>
            {% endfor %}
        </table>
        </div>
    {% endif %}

    {% if client.color_set.all|length > 0 %}
        <div class="row">
            <h2> 颜色 </h2>
            <table class="table table-bordered">
                {% for c in client.color_set.all %}
                    <tr>
                        <td> {{ c }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    <div class="row">
        <h2> 销售订单 </h2>

        <table class="table table-striped">
            {% for order in client.order_set.all %}
                <tr>
                    <td> <a href={% url 'view_order' id=order.id %}>{{  order  }}</a></td>
                    <td> {{ order.created_date }}</td>
                    <td> {{ order.get_status_display }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}